.navbar {
    background-color: rgb(54, 123, 212);
}

.nav-link {
    color: white !important;
}

.nav-link.active {
    background-color: white !important;
    border-radius: 5px;
    color: black !important;
}

.nav-link:hover {
    background-color: white !important;
    border-radius: 5px;
    color: black !important;
    transition: all 1s;
}

.mediasosial {
    width: 20px;
    height: 20px;
}

footer {
    background-color: black;
    color: white
}